{% extends "default.html" %}

{% block content %}
    <br>
    
    <div class="container">
        <div class="row">
            <div class="row">
                <p>
                </p>
            </div>
            <div class="col-6">
                <h1>About our Project</h1>
                <h2>How does the program work?</h2>
            <div class="row">
                <p>
                    We use a flask frame work that pulls from a free
                    open covid api and then we arrange that data into an array,
                    pass that into html.
                </p>
                <h2>What is does the program do?</h2>
                <p>
                    This website is a covid dashboard used to make it easier 
                    for the average person to find all the covid statistics they
                    are looking for in one place.
                </p>
                <h2>Who made this program?</h2>
                <p>The 2022 winter EMU 481w Group 3 Team:</p>
                <span>
                    Jordan Sheldon: Backend 
                    James Nalepa: Front end 
                    Noah Race: Tester
                    Aaron Manalil: Support and extra help
                    <p><a href="https://github.com/JordanHSheldon/481W_Covid_dashboard">Github</a></p>
                    </span>
            </div>
            <div class="row">
                <span>
                CREATORS:
                Jordan Sheldon |
                James Nalepa | 
                Noah Race | 
                Aaron Manalil 
                </span>
            </div>
        </div>
      </div>
{% endblock %}
   