{% extends "default.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    This website is a covid dashboard used to make it easier 
                    for the average person to find all the covid statistics they
                    are looking for in one place.
                </p>
            </div>
            <div class="col-6">
                <p>
                    We use a flask frame work that pulls from a free
                    open covid api and then we arrange that data into an array,
                    pass that into html.

                </p>
            </div>
            <div class="col">
                <span>
                Jordan Sheldon: 
                James Nalepa: 
                Noah Race:
                
                </span>
            </div>
        </div>
      </div>
{% endblock %}
   