{% extends "default.html" %}


{% block content %}
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-6">
            <h2 style="text-align: center;">Covid Dashboard</h2>
            <br>
            <p style="text-align: center;">This website is used to look up 
                and see current covid statistics by state. See serveral relevant 
                statistics such as death count, positive cases, increases in cases
                and compare it to other states.
            </p>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      {% endblock %}
   