<!DOCTYPE html>
<html lang="en">
{% extends "default.html" %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-6">
            <h2 style="text-align: center;">Covid News</h2>
            <br>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  </head>
	<body>
		<div style="text-align: center;">
      <div><a href="https://www.ncbi.nlm.nih.gov/pmc/?term=covid+19">National Institutes of Health</a></div>
      <div><a href="https://www.nature.com/search?q=covid+19&journal=">Nature.com</a></div>
			<div><a href="https://www.nytimes.com/news-event/coronavirus?name=styln-coronavirus&region=TOP_BANNER&block=storyline_menu_recirc&action=click&pgtype=LegacyCollection&variant=show">New York Times</a></div>
      <div><a href="https://www.cnn.com/specials/world/coronavirus-outbreak-intl-hnk">CNN</a></div>
      <div><a href="https://www.nbcnews.com/health/coronavirus">NBC</a></div>
      <div><a href="https://www.cbsnews.com/feature/coronavirus/">CBS</a></div>
		</div>
	</body>
</html>

{% endblock %}