{% extends "default.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div style="margin-left:auto;border-radius: 15px;background-color: whitesmoke;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
          <h3 style="text-align: center;">{{ temp['state'] }}</h3>
          <table style="table-layout:fixed; display: unset;">
            <tr>
              <th>
                <img style="border-radius: 50px;" src="https://www.glcap.org/media/1305/rcap-states-white6.png" >
              </th>
              <td>
                <p>

                  Enter bio for state here

                </p>
              </td>
              
            </tr>
            <tr>
              <td>
              <hr>
            </td>
            </tr>
            <tr>
              <th>
                <ul>
                  <li style="list-style-type: none;"><p style="text-align: left; font-size: 30px;">Cases: </p></li>
                  <li style="list-style-type: none;"><p style="text-align: left; font-size: 30px;">Deaths: </p></li>
                  <li style="list-style-type: none;"><p style="text-align: left; font-size: 30px;">Deaths: </p></li>
                </ul>
              </th>
              <td>
                <ul>
                  <li style="list-style-type: none;"><p style="text-align: left; font-size: 20px;">{{ temp['positive'] }}</p></li>
                  <li style="list-style-type: none;"><p style="text-align: left; font-size: 20px;">{{ temp['death'] }}</p></li>
                  <li style="list-style-type: none;"><p style="text-align: left; font-size: 20px;">{{ temp['hospitalizedCurrently'] }}</p></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}