{% extends "default.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div style="margin-left:auto;border-radius: 15px;background-color: whitesmoke;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
          <h3 style="text-align: center;">{{ temp['state'] }}</h3>
          <ul>
            <li style="list-style-type: none;"><p style="text-align: left;">Cases: {{ temp['positive'] }}</p></li>
            <li style="list-style-type: none;"><p style="text-align: left;">Deaths: {{ temp['death'] }}</p></li>
            <li style="list-style-type: none;"><p style="text-align: left;">Deaths: {{ temp['hospitalizedCurrently'] }}</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



{% endblock %}